* {
  color: white;
}
.header-container {
  display: flex;
  background-color: blue;
  padding: 1vh;
  width: 100%;
  height: 5vh;
}

.header-container-hidden {
  transition: height 0.2s ease;
  overflow: hidden;
  height: 0;
}

.header-container a {
  margin: 2vh;
  text-decoration: none;
}

.header-container a h1 {
  font-size: 2vh;
  color: white;
}

.header-container a h1:visited {
  color: inherit;
}

.header-container h1:hover {
  color: green;
}

.header-container .social-icon {
  width: 100%;
  height: 100%;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.fullscreen-section {
  background-color: green;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.contact-me {
  background-color: purple;
  width: 100vw;
  height: 100vh;
}

.contact-me h1 {
  font-size: 5vh;
  text-align: center;
}

.contact-me form {
  display: grid;
  grid-template-columns: 1fr;
}

/* name and email input fields */
.contact-me form input {
  margin: 2vh;
  font-size: 2vh;
}

/* message box */
.contact-me form textarea {
  margin: 2vh;
  font-size: 2vh;
  height: 20vh;
}

.contact-me form button {
  margin: 2vh;
  font-size: 2vh;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10%;
  padding: 1vh;
  width: 30vh;
  margin-left: 50vh;
  margin-right: 50vh;
}

.copyright {
  text-align: center;
}
